In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import RandomState
random_state = RandomState(0)

In [3]:
scores = random_state.randn(1000, 3)

In [28]:
mask0 = random_state.choice(range(1000), 500, replace=False)
mask1 = random_state.choice(range(1000), 700, replace=False)
mask2 = random_state.choice(range(1000), 100, replace=False)

In [29]:
scores[mask0,0]=np.nan
scores[mask1,1]=np.nan
scores[mask2,2]=np.nan

In [30]:
score_df = pd.DataFrame(scores)#.cov()

In [31]:
score_df.corr()

          0         1         2
0  1.000000 -0.317953  0.036624
1 -0.317953  1.000000  0.030773
2  0.036624  0.030773  1.000000

In [22]:
score_df.dropna().cov()

          0         1         2
0  1.040628 -0.026403 -0.088737
1 -0.026403  0.902941  0.034090
2 -0.088737  0.034090  0.921136

In [26]:
score_df[1].var()

0.98316515880533

In [14]:
scores[:10]

array([[        nan,         nan,  0.97873798],
       [        nan,  1.86755799, -0.97727788],
       [        nan, -0.15135721,         nan],
       [ 0.4105985 ,         nan,  1.45427351],
       [        nan,  0.12167502,         nan],
       [        nan,         nan, -0.20515826],
       [ 0.3130677 , -0.85409574, -2.55298982],
       [        nan,  0.8644362 , -0.74216502],
       [ 2.26975462, -1.45436567,  0.04575852],
       [        nan,  1.53277921,  1.46935877]])